.idea/
*.sln.dotSettings.user
*.dotSettings.user
*.user

[Bb]in/
[Oo]bj/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

wwwroot/_framework/
*.log
node_modules/

appsettings.Development.json
appsettings.Local.json
secrets.json

Thumbs.db
.DS_Store

TestResults/

*.db
*.db-shm
*.db-wal

# Build artifacts
publish/
Releases/
