[build]
builder = "dockerfile"
dockerfilePath = "./Dockerfile"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 60
startCommand = ""
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
