{
  "AppConfiguration": {
    "ApiBaseUrl": "https://YOUR-API-URL-HERE",
    "ProfileId": "00000000-0000-0000-0000-000000000000",
    "AutoStartWithWindows": false,
    "CheckIntervalSeconds": 10
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning"
    }
  }
}
